<nav class="bottom-nav d-flex d-md-none justify-content-around bg-white border-top shadow-sm">
  <a type="button" routerLink="/main/dashboard" routerLinkActive="active"><i class="fa fa-home"></i><span>Home</span></a>
  <a type="button" routerLink="/main/meals" routerLinkActive="active"><i class="fa fa-cutlery"></i><span>Meals</span></a>
  <a type="button" routerLink="/main/bazar" routerLinkActive="active"><i class="fa fa fa-shopping-basket"></i><span>Bazar</span></a>
  <a type="button" routerLink="/main/wallet" routerLinkActive="active"><i class="fa fa-money"></i><span>Wallet</span></a>
  <a type="button" routerLink="/main/members" routerLinkActive="active"><i class="fa fa-users"></i><span>Members</span></a>
</nav>