<header class="sticky-header d-none d-md-block">
  <div class="toolbar-wrapper">
    <mat-toolbar class="custom-toolbar px-3">
      <div class="nav-wrapper">
        <a mat-button class="nav-item" routerLink="/dashboard" routerLinkActive="active-link">Home</a>
        <a mat-button class="nav-item" routerLink="/members" routerLinkActive="active-link">Members</a>
        <a mat-button class="nav-item" routerLink="/meals" routerLinkActive="active-link">Meals</a>
        <a mat-button class="nav-item" routerLink="/bazar" routerLinkActive="active-link">Bazar</a>
        <a mat-button class="nav-item" routerLink="/wallet" routerLinkActive="active-link">Wallet</a>
      </div>
    </mat-toolbar>
  </div>
</header>