<header class="sticky-header desktop-only d-none d-md-block">
  <div class="toolbar-wrapper">
    <mat-toolbar class="custom-toolbar px-3">
      <div class="nav-wrapper">
        <a mat-button class="nav-item" routerLink="/main/dashboard" routerLinkActive="active-link">Home</a>
        <a mat-button class="nav-item" routerLink="/main/meals" routerLinkActive="active-link">Meals</a>
        <a mat-button class="nav-item" routerLink="/main/bazar" routerLinkActive="active-link">Bazar</a>
        <a mat-button class="nav-item" routerLink="/main/wallet" routerLinkActive="active-link">Wallet</a>
        <a mat-button class="nav-item" routerLink="/main/members" routerLinkActive="active-link">Members</a>
      </div>
    </mat-toolbar>
  </div>
</header>