<div class="refresh-container mat-elevation-z8" cdkScrollable (cdkScrollable)="onScroll($event)">
  <!-- Loading Overlay -->
  <div class="loading-overlay" style="margin-top: 75px;" *ngIf="loading">
    <mat-spinner diameter="50" color="primary"></mat-spinner>
  </div>

  <div class="container py-3" *ngIf="!loading">
    <div class="row g-3">
      <!-- Member Card 1 -->
      <div class="col-12 col-sm-6 col-lg-4" *ngFor="let m of members">
        <div class="card">
          <div class="card-content">
            <div class="card-image">
              <div class="card-image-container">
                <img [src]="m.picture" alt="Profile Image">
              </div>
              <div class="card-glow"></div>
            </div>
            <div class="card-info">
              <h2 class="card-name">{{ m.name }}</h2>
              <p class="card-title">{{ m.room.name }}</p>
              <div class="card-stats">
                <div class="stat">
                  <span class="stat-value">{{ m.totalMeals }}</span>
                  <span class="stat-label">Total Meals</span>
                </div>
                <div class="stat">
                  <span class="stat-value">{{ m.totalWalletGiven }}</span>
                  <span class="stat-label">Wallet</span>
                </div>
                <div class="stat">
                  <span class="stat-value">{{ m.lastWalletGivenDate ? (m.lastWalletGivenDate | date: 'dd/MM/yyyy') : 'N/A' }}</span>
                  <span class="stat-label">Wallet Date</span>
                </div>
              </div>
              <p class="text-muted text-center">Data based on current month</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-lg-4">
      <!-- Add Member Card (last card, same markup style) -->
      <div class="add-member-card card mb-5" tabindex="0">
        <div class="card-content-2 d-flex flex-column align-items-center justify-content-center pt-5" style="height: 100%;" (click)="openAddMemberModal()">
          <div class="add-icon-container mb-3">
            <i class="fa fa-user-plus fa-2x"></i>
          </div>
          <div class="card-info text-center">
            <h2 class="card-name mb-1" style="font-size: 1.5rem;">Add Member</h2>
            <p class="card-title" style="font-size: 1rem; letter-spacing: 0;">Click to add</p>
            <div class="card-stats"></div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>