.bazar-container {
  min-height: 100%;
  padding: 0 5px;
}

.d-flex {
  display: flex;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.mb-2 {
  margin-bottom: 1rem;
}

.pad-4 {
  padding-top: 10rem;
}

.w-100 {
  width: 100%;
}

.no-data-box {
  text-align: center;
  padding: 2rem;
  border: 2px dashed #ccc;
  border-radius: 8px;
  color: orange;
  margin-top: 13rem;
}

.no-data-icon {
  font-size: 48px;
  color: #bdbdbd;
}

.no-data-text {
  font-size: 18px;
  margin-top: 0.5rem;
}

.truncate-description {
  display: inline-block;
  max-width: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;

  @media (min-width: 768px) {
    max-width: 480px;
  }
}

.loading-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* This wrapper ensures avatars align inline and wrap if needed */
.member-inline-images {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 3px;
}

/* Prevent shrinking in small screens */
.mat-column-members {
  white-space: nowrap;
  /* overflow: hidden; */
  text-overflow: ellipsis;
  vertical-align: middle;
}
