mat-form-field {
  width: 100%;
}

mat-dialog-content {
  padding: 0 1rem;
}

mat-dialog-actions {
  padding: 0 1rem 1rem;
}

h5 {
  font-family: var(--font-family-base);
  font-weight: 600;
  color: #004f4f;
}

form {
  font-family: var(--font-family-base);
}

button[mat-raised-button] {
  font-weight: 500;
}

.spinner-border {
  width: 1rem;
  height: 1rem;
}

